@model CourseFormModel

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>Edit course</h2>
        <p>In this section you can edit course.</p>
    </div>
</div><!-- End Breadcrumbs -->

<partial name="_CourseFormPartial" model="@Model" />