@using E_LearningSystem.Web.Models.Resource
@model AllResourcesQueryModel

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>My Resources</h2>
        </div>
    </div><!-- End Breadcrumbs -->

    <form method="get">
        <div class="form-outline mb-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" />
        </div>    
    </form>

    <div class="container">
        @if (!Model.Resources.Any())
        {
            <h2 class="text-center">There are no resources found by the given criteria.</h2>
        }
    </div>
    <!-- ======= Resources Section ======= -->
    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                @foreach (var resource in Model.Resources)
                {
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="course-item">
                            @if (resource.ResourceName.EndsWith(".pptx"))
                            {
                                <img src="~/pptxIcon.png" class="img-fluid" alt="Resource Image" width="290" height="290" />
                            }
                            else if (resource.ResourceName.EndsWith(".pdf"))
                            {
                                <iframe src="~/assets/resources/@resource.ResourceName" sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation" width="290" height="290">@resource.ResourceName</iframe>
                            }
                            else if (resource.ResourceName.EndsWith(".mp4"))
                            {
                                <video width="290" height="290" controls>
                                    <source src="~/assets/resources/@resource.ResourceName" type="video/mp4">
                                </video>
                            }

                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>@resource.LectureName</h4>
                                </div>

                                <p><a href="~/assets/resources/@resource.ResourceName">@resource.ResourceName</a></p>
                            </div>
                        </div>
                    </div> <!-- End Resource Item-->
                }
            </div>
        </div>
    </section><!-- End Resources Section -->

</main><!-- End #main -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



