@model CreateLectureFormModel

 <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Create Lecture</h2>
            <p>In this section you can create a new lecture.</p>
        </div>
    </div><!-- End Breadcrumbs -->

<partial name="_LectureFormPartial" model="@Model" />


