@model CreateLectureFormModel

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>Edit Lecture</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
    </div>
</div><!-- End Breadcrumbs -->

<partial name="_LectureFormPartial" model="@Model" />

@if (Model.Resources != null && Model.Resources.Count() > 0)
{
    @foreach (var resource in Model.Resources)
    {
        <span>@resource.Name</span>
        <a asp-controller="Resources" asp-action="DeleteResource" asp-route-resourceId="@resource.Id" class="btn btn-danger">Delete Resource</a>
        <br />
    }
}


<a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" class="btn btn-success">Back to Lectures</a>


