@model CreateLectureFormModel

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>Edit Lecture</h2>
        <p>In this section you can edit a new lecture.</p>
    </div>
</div><!-- End Breadcrumbs -->

<partial name="_LectureFormPartial" model="@Model" />

<p></p>
<div class="row">
    @if (Model.Resources != null && Model.Resources.Count() > 0)
    {
        <ol class="list-group list-group-numbered col-md-12">

            @foreach (var resource in Model.Resources)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">@resource.Name</div>
                    </div>

                    <a asp-controller="Resources" asp-action="DeleteResource" asp-route-resourceId="@resource.Id" class="btn btn-danger">Delete Resource</a>
                </li>
            }

        </ol>
    }
</div>

<p></p>

<a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" class="btn btn-success">Back to Lectures</a>


