@model CommentFormModel

<div class="breadcrumbs">
    <div class="container">
        <h2>Comments section</h2>
    </div>
</div>

<form method="post"
      asp-controller="Comments" asp-action="CreateComment">
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="d-flex flex-column comment-section">
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info">
                            <img class="rounded-circle" src="~/assets/img/users/@Model.ProfileImageUrl" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2">
                                <span class="d-block font-weight-bold name">@Model.FirstName @Model.LastName</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start">
                            <textarea asp-for="Content" class="form-control ml-1 shadow-none textarea"></textarea>           
                        </div>       
                        <span asp-validation-for="Content" class="small text-danger"></span>
                        <div class="mt-2 text-right">
                            <button asp-controller="Comments" asp-action="CreateComment" asp-route-lectureId="@Model.LectureId" class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>