@model AboutViewModel

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>About Us</h2>
            <p>We are different! We are focused on the practical tasks and exercises and sharing of real life work examples. </p>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Learn with Us and be part of our community!</h3>
                    <p class="fst-italic">
                      Our courses are in different categories: Programming, Networking and Algorithms.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Learn all about modern technologies.</li>
                        <li><i class="bi bi-check-circle"></i> Develop new skills and become part of the technology community.</li>
                        <li><i class="bi bi-check-circle"></i> Improve and be creative with us. Here you will learn everything you need as professional skills for the field in which you want to develop.</li>
                    </ul>
                    <p>
                        We are team of talented technical trainers ready to give you the best from the modern technologies.
                        Take your chance and get one of our courses! Our main goal is to help you to success in your IT career.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end=@Model.LearnersCount data-purecounter-duration="1" class="purecounter"></span>
                    <p>Students</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end=@Model.CoursesCount data-purecounter-duration="1" class="purecounter"></span>
                    <p>Courses</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end=@Model.TrainersCount data-purecounter-duration="1" class="purecounter"></span>
                    <p>Trainers</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
</main><!-- End #main -->
