@model BecomeTrainerFormModel

<div class="breadcrumbs">
    <div class="container">
        <h2>Become Trainer</h2>
        <p>Here in this section you can pass your CV. After that our HR team will contact you.</p>
    </div>
</div>

<form method="post" asp-controller="Trainers" asp-action="BecomeTrainer" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="FullName" class="form-label">Name</label>
        <input asp-for="FullName" class="form-control" placeholder="Some Name">
        <span asp-validation-for="FullName" class="small text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CVUrl" class="form-label">CV Url</label>
        <input asp-for="CVUrl" type="file" name="CVUrl" class="form-control">
        <span asp-validation-for="CVUrl" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>