<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>All issues</h2>
        <p>Here you can report an issue found by you in the course itself.</p>
    </div>
</div><!-- End Breadcrumbs -->

