@using E_LearningSystem.Web.Models.Issue
@model IssueFormModel

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>Report issue</h2>
        <p>Here you can report an issue found by you in the course itself.</p>
    </div>
</div><!-- End Breadcrumbs -->


<form method="post"
      asp-controller="Issues" asp-action="CreateIssue">

    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Issue Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>