@model IEnumerable<AllIssuesServiceModel>;

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>My issues</h2>
        <p>Here you can see all reported issues for your course.</p>
    </div>
</div><!-- End Breadcrumbs -->

<ol class="list-group list-group-numbered col-md-12">
    @foreach (var issue in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@issue.Title</div>
               @issue.Description
            </div>
            @if (User.IsInRole(AdminRole) || User.IsInRole(TrainerRole))
            {
                <a asp-controller="Issues" asp-action="FixIssue" asp-route-issueId="@issue.IssueId" asp-route-courseId="@issue.CourseId" class="btn btn-secondary">Fix Issue</a>              
            }
        </li>
    }
</ol>