@using E_LearningSystem.Services.Services;
@using static E_LearningSystem.Infrastructure.Constants.IdentityConstants;
@model IEnumerable<AllIssuesServiceModel>;

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>My issues</h2>
        <p>Here you can report an issue found by you in the course itself.</p>
    </div>
</div><!-- End Breadcrumbs -->

<ol class="list-group list-group-numbered col-md-12">
    @foreach (var issue in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@issue.Title</div>
               @issue.Description
            </div>          
        </li>
    }
</ol>