@model TrainerFormModel

<div class="breadcrumbs">
    <div class="container">
        <h2>Create Trainer</h2>
        <p>Here in this section you can create a new trainer.</p>
    </div>
</div>

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">FirstName</label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="small text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">LastName</label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="small text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="small text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ProfileImage" class="form-label">Profile Image</label>
        <input asp-for="ProfileImage" type="file" name="ProfileImage" class="form-control">
        <span asp-validation-for="ProfileImage" class="small text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CV" class="form-label">CV</label>
        <input asp-for="CV" type="file" name="CV" class="form-control">
        <span asp-validation-for="CV" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>